.h-1{
    text-align: center;
}
.block{
    border-width: 200px;
}
body{
    background-color: blue;
}
.border{
    border: 3px black solid;
    background-color: skyblue;
    width: 150px;
    border-radius: 20px;
}