body{
background-image: url(pexels-melvin-buezo-1253763-2529147.jpg);
background-size: cover;
}
.a-1{
border: 3px solid;
color: white;
}
.p-1{
color: white;
}
.fa fa-usd{
width: 250px;
height: 200px;
}